/* Default styles */
.login_container {
  width: 100%;
  min-height: 100vh;
  background-color: #406882;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_form_container {
  width: 90%; /* Adjusted width for responsiveness */
  max-width: 900px;
  height: 500px;
  display: flex;
  border-radius: 10px;
  background-color: white;

  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.leftlogin {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b1d0e0;
  margin: 10px;
  border-radius: 10px;
}

.rightlogin {
  flex: 1;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6998ab;
  margin: 10px;
  border-radius: 10px;
}

/* Form styles */
.form_container_login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container_login h1 {
  font-size: 30px; /* Adjusted font size for smaller screens */
  margin-top: 0;
  color: #1a374d;
}

.input_login {
  outline: none;
  border: none;
  width: 100%;
  max-width: 370px;
  padding: 12px; /* Adjusted padding for smaller screens */
  border-radius: 8px; /* Reduced border radius for smaller screens */
  background-color: #edf5f3;
  margin: 5px 0;
  font-size: 14px;
}

.error_msg_login {
  width: 100%;
  padding: 12px; /* Adjusted padding for smaller screens */
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 8px; /* Reduced border radius for smaller screens */
  text-align: center;
}

/* Button styles */
.white_btn_login,
.green_btn_login {
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 300px; /* Adjusted max-width for smaller screens */
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.green_btn_login {
  background-color: #1a374d;
  color: white;
  margin: 10px 0; /* Adjusted margin for smaller screens */
}

.white_btn_login {
  background-color: white;
  color: #1a374d;

  margin: 10px 0; /* Adjusted margin for smaller screens */
}

.heading {
  color: white;
}

/* Google login button styles */
.google_login_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Adjusted margin for spacing */
}

.google_login_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 370px; /* Adjusted max-width for consistency */
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  background-color: "#B1D0E0"; /* Google red color */
  color: "#1A374D";
  transition: background-color 0.3s ease;
}

.google_login_btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow on hover */
}

.google_logo {
  width: 20px; /* Adjusted size of the Google logo */
  margin-right: 10px; /* Adjusted margin for spacing */
}

@media screen and (max-width: 900px) {
  .login_form_container {
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .leftlogin,
  .rightlogin {
    flex: none;
    width: 90%;
    margin: 20px;
  }

  .green_btn_login {
    padding: 8px 15px;
    font-size: 13px;
  }

  .white_btn_login {
    padding: 8px 15px;
    font-size: 13px;
    padding-bottom: 10px;
  }

  .google_login_container {
    margin-bottom: 10px;
    font-size: 13px;
  }

  .heading {
    font-size: 22px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .form_container_login h1 {
    font-size: 26px; /* Further reduced font size for smaller screens */
  }

  .form_container_login {
    align-items: center;
    justify-content: center;
  }
  .input_login,
  .error_msg_login {
    padding: 10px; /* Further reduced padding for smaller screens */
  }

  .login_form_container {
    padding: 20px; /* Add padding around the form container */
  }

  .green_btn_login {
    padding: 8px 15px;
    font-size: 13px;
  }

  .white_btn_login {
    padding: 8px 15px;
    font-size: 13px;
  }
}
