.projectimage {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

.projectimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectimage .projectimgfilter {
  background-color: rgba(0, 0, 0, 0.476);
  width: 100%;
  height: 100%;
  position: absolute;
}
