/* ProjectDetails.css */
.research-project {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #b1d0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-section {
  text-align: center;
}

.top-section h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  color: #333333;
}

.content-section {
  display: flex;
  flex-direction: column; /* Adjust layout for mobile */
}

.left-column,
.right-column {
  margin-bottom: 20px; /* Add space between columns */
}

@media only screen and (min-width: 768px) {
  /* Tablet and above */
  .content-section {
    flex-direction: row; /* Revert back to original layout for tablet and above */
  }

  .left-column {
    flex: 2;
    margin-right: 20px;
  }

  .right-column {
    flex: 1;
  }

  .right-column > div {
    margin-bottom: 0; /* Remove extra margin for tablet and above */
  }
}

p {
  margin-bottom: 10px;
  line-height: 1.5;
  color: #555555;
}

b {
  font-weight: bold;
}

h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
